<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= title%> </title>
    <link rel="stylesheet" href="../public/assets/css/bootstrap.min.css">
    
</head>
<body>
    
    <div class="page-wrapper">
        <nav class="navbar navbar-dark" style="background-color: deepskyblue">
            <span class="navbar-brand mb-0 h1">
                <a href="/">
                    <img src="../public/assets/images/logo.png" width="55" height="55" alt="products managemnt">
                    Products Managemnt
                </a>
            </span>
            <a class="floar-right btn btn-outline-primary" href="/add">Add product</a>
            
        </nav>

    </div>